<h1>Dashboard</h1>
<% if user_signed_in? %>
  <% if current_user.role == "admin" %>
    <%= link_to 'Companies', companies_path %> | <%= link_to 'New Company', new_company_path %>
    <h1>Listing Availabilities</h1>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Hour start</th>
              <th>Hour end</th>
              <th>Driver</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @availabilities.each do |availability| %>
              <tr>
                <td><%= availability.date.strftime("%d %B %y") %></td>
                <td><%= availability.hour_start.strftime("%H:%M") %></td>
                <td><%= availability.hour_end.strftime("%H:%M")%></td>
                <td><%= availability.driver.first_name %></td>
                <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
                <td><%= link_to 'Destroy', availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
  <div>
    <div class="col-md-10">
      <%= render  partial: 'drivers/index', locals: {drivers: @drivers} %>
    </div>
  </div>
  <%= link_to 'New Availability', new_availability_path %>
  <% end %>
<% end %>